<div>This is the dashboard test connection</div>
{{!-- one side has blog posts users wrote by title as the href to the id. include a edit button--}}

{{!-- the other side has comments user wrote the title of the blog post and the comment content. include a edit button  --}}