<div class='add-blog-container'>
    <h2>
      Let's make a new post!
    </h2>
    <form class='blog-form'>
      <label for='title'>
        Blog Post Title:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>{{blog.title}}</textarea>
      <br />
      <label for='content'>
        Blog Content:
      </label>
      <br />
      <textarea id='content' name='content' rows='5' cols='30'>{{blog.content}}</textarea>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>

<script src='/js/blogpost.js'></script>

